<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--set GLOBAL max_connections=200 ;设置mysql连接池-->
        <!--set global time_zone='+8:00'; 重启电脑后在mysql中运行-->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/firewalllog?characterEncoding=UTF-8</property>
        <!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/firewalllog?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>-->

        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
            123456
        </property>
        <!--<property name="hibernate.connection.username">-->
        <!--root-->
        <!--</property>-->
        <!--<property name="hibernate.connection.password">-->
        <!--123456-->
        <!--</property>-->
        <property name="hibernate.show_sql">
            true
        </property>
        <property name="current_session_context_class">
            thread
        </property>


        <mapping class="xyz.neolith.watcheranalysis.entity.Fwlog"/>
        <mapping class="xyz.neolith.watcheranalysis.entity.AccessFlowResult"/>
        <mapping class="xyz.neolith.watcheranalysis.entity.Event"/>
        <mapping class="xyz.neolith.watcheranalysis.entity.Sensitiveport"/>
        <mapping class="xyz.neolith.watcheranalysis.entity.StatisticsResult"/>
    </session-factory>
</hibernate-configuration>